<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoTracker"
        tools:targetApi="31">
        <activity
            android:name=".FullscreenPriceToken"
            android:exported="false" />
        <activity
            android:name=".TokenPriceOverview"
            android:label="Token Overview Page"
            android:exported="false" />
        <activity
            android:name=".PriceMonitoring"
            android:exported="false" />
        <activity
            android:name=".ModifyAddresses"
            android:exported="false" />
        <activity
            android:name=".WalletModify"
            android:exported="false" />
        <activity
            android:name=".ModifyWallet"
            android:exported="false"
            android:label="@string/title_activity_modify_wallet"
            android:theme="@style/Theme.CryptoTracker.NoActionBar" />
        <activity
            android:name=".AddAssets"
            android:exported="false" />
        <activity
            android:name=".WalletOverview"
            android:exported="false" />
        <activity
            android:name=".WalletSettings"
            android:exported="false"
            android:label="@string/title_activity_wallet_settings"
            android:theme="@style/Theme.CryptoTracker.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register Page"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:label="Login Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CryptoTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Supports.ForegroundService"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>